*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    transition: .5s;
}
li{
    list-style: none;
}
.flex{
    display: flex;
}
.common-container{
    max-width: 1150px;
    margin: 0px auto;
    /*border: 1px solid #d2d2d2;*/
}
.ml-1{
    margin-left: 25px;
}
/*header-info start*/
.header-info{
    border: 1px solid #d2d2d2; 
}

.flex-header-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
}
.location {
    display: inline-block;
}
.location a{
    display: inline-block;
}
a.loc-icon {
    color: #64CF66;
    padding-right: 10px;
    font-size: 16px;
}
.location p{
    color: #999191;
    font-size: 14px;
    font-family: roboto,sans-serif;
}
.social-icon {
    display: inline-block;
    padding-left: 560px;
    align-self: center;
}
.social-icon a {
    color: #999191;
    padding-left: 14px;
    font-size: 14px;
}
.social-icon a span{
    padding-left: 10px;
}
.social-icon a:hover{
    color: #64CF66;
}
.social-flag{
    padding-top: 5px;
    padding-right: 30px;
}
.social-flag span {
    font-size: 14px;
    text-transform: uppercase;
    color: #999191;
}

/*header-info end*/

/*header start*/
.header-area{
    border: 1px solid #d2d2d2;
}
.header-container {
    padding-top: 35px;
    padding-bottom: 35px;
}
.header {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 15%;
    /*border: 1px solid red;*/
}
.logo img {
    width: 65%;
    padding-left: 10px;
}
.menu {
    width: 65%;
    /*border: 1px solid tomato;*/
    text-align: center;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    padding-right: 40px;
    text-transform: uppercase;
}
.menu ul li a{
    text-decoration: none;
    font-size: 14px;
    font-family: poppins,sans-serif;
    font-weight: 600;
    color: black;
    transition: .2s;
    text-transform: uppercase;
}
.menu ul li a:hover{
    color: #64CF66;
}
.menu ul li a.active{
    color: #64CF66;
}
.header-button {
    width: 20%;
    /*border: 1px solid skyblue;*/
    padding-left: 60px;
}
.header-button a{
    background-color: #4CCE5F;
    padding: 16px 28px;
    color: white;
    font-size: 12px;
    font-family: poppins,sans-serif;
    font-weight: 600;
    border-radius: 5px;
    opacity: .8;
    text-transform: uppercase;
    opacity: .8;
}
.header-button a:hover{
    background-color: red;
}
/*header end*/

/*banner section start*/
.banner{
    background-image: url(../images/business-02.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner-icon{
    width: 1250px;
}
i.fa-solid.fa-arrow-left {
    background-color: #868381;
    position: absolute;
    top: 50%;
    border: 1px solid #f2f2f2;
    padding: 15px;
    color: #fff;
    border-radius: 3px;
    margin-left: 30px;
    border: none;
    transition: .5s;
}
i.fa-solid.fa-arrow-left:hover{
    background-color: #4CCE5F;
}
i.fa-solid.fa-arrow-right {
    background-color: #868381;
    position: absolute;
    top: 50%;
    right: 0px;
    border: 1px solid #f2f2f2;
    padding: 15px;
    color: #fff;
    border-radius: 3px;
    margin-right: 50px;
    border: none;
    transition: .5s;
}
i.fa-solid.fa-arrow-right:hover{
    background-color: #4CCE5F;
}
.banner-container {
    padding-top: 250px;
    padding-bottom: 220px;
    width: 50%;
    /*border: 1px solid black;*/
}
.banner-container h1{
    font-size: 55px;
    font-family: roboto,sans-serif;
    color: #fff;
    font-weight: 700;
    line-height: 66px;
    padding-bottom: 60px;
}
.banner-btn{
    display: inline-block;
    display: inline-block;
    background-color: #4CCE5F;
    border-radius: 5px;
    padding: 16px 24px;
    transition: .5s;
}
.banner-btn:hover{
    background-color: black;
}
.banner-btn a{
    color: #fff;
    font-size: 12px;
    font-family: roboto,sans-serif;
    font-weight: 700;
}
.banner-img{
    display: inline-block;
    padding-left: 25px;
}
.banner-img a{
    color: #fff;
}
.banner-img a:hover{
    color: #4CCE5F;
}
.banner-img span{
    font-size: 14px;
    font-weight: 600;
    font-family: Poppins,sans-serif;
    padding-left: 5px;
}
/*banner section end*/

/*contact info area start*/
.contact-info{
    /*border: 1px solid #f2f2f2;*/
    margin: 50px 0px;
}
.contact-info-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.first-section {
    width: 50%;
    /*border: 1px solid black;*/
    display: flex;
}
.first-logo {
    align-self: center;
}
.first-section .fa-phone{
    border: 1px solid red;
    padding: 10px;
    font-size: 30px;
    color: white;
    background-color: #4CCE5F;
    border-radius: 3px;
    border: none;
}
.first-content {
    display: flex;
    align-items: center;
}
.first-content h4{
    font-size: 14px;
    padding-left: 20px;
    line-height: 26px;
    font-family: roboto,sans-serif;

}
.first-content h3{
    font-size: 35px;
    padding-left: 80px;
    color: #4CCE5F;
    font-weight: 600;
    font-family: poppins,sans-serif;
}
.third-section {
    width: 25%;
    /*border: 1px solid red;*/
}
.contact-img{
    display: inline-block;
}
.info-content {
    display: inline-block;
    padding-left: 25px;
}
.info-content h4{
    font-size: 16px;
    font-family: rufina,serif;
    font-weight: 600;
    line-height: 24px;
}
.info-content p{
    font-size: 18px;
    font-family: poppins,serif;
    color: #999191;
    padding-top: 5px;
}
.fourth-section{
    width: 25%;
    padding-left: 25px;
    /*border: 1px solid red;*/
}
/*contact info area end*/

/*why choose us start*/
section.why-us {
    margin-bottom: 0px;
}
.choose-flex {
    display: flex;
    justify-content: space-between;
}
.choose-heading h4{
    font-size: 14px;
    font-family: poppins,sans-serif;
    font-weight: 400;
    color: #4cce5f;
    line-height: 20px;
    padding-bottom: 15px;
}
.part-one{
    width: 30%;
}
.choose-heading h2{
    font-size: 44px;
    font-family: poppins,sans-serif;
    font-weight: 700;
    line-height: 55px;
}
.choose-heading h2 span{
    font-weight: 400;
}
.choose-heading {
    padding-top: 100px;
    padding-bottom: 80px;
}
.choose-h2 {
    font-size: 20px;
    font-family: poppins,sans-serif;
    font-weight: 600;
    padding: 30px 0px;
    
}
.choose-h2 a{
    color: black;
}
.choose-h2 a:hover{
    color: #4cce5f;
}
.choose-para p{
    font-size: 16px;
    font-family: roboto,sans-serif;
    font-weight: 400;
    color: #999191;
    line-height: 26px;
}
/*why choose us end*/

/*about boseo start*/
section.about-boseo {
    position: relative;
    /* border: 1px solid red; */
    padding-top: 150px;
    margin-bottom: 140px;
}
.about-flex {
    display: flex;
    justify-content: space-around;
}
.about-img{
    /* margin-right: 100px; */
}
.about-img img{
    position: absolute;
    /* right: 50%; */
    /* width: 100%; */
    left: -30%;
    height: 100%;
    display: block;
}
.about-content {
    /* padding-left: 300px; */
    margin-left: 400px;
}
.about-content h5{
    font-size: 16px;
    font-family: poppins,sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #4cce5f;
    padding-bottom: 10px;
}
.about-content h3{
    font-size: 44px;
    font-family: poppins,sans-serif;
    font-weight: 700;
    line-height: 55px;
    padding-bottom: 35px;
}
.about-content h3 span{
    font-weight: 400;
}
.about-section1 {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 500px;
}
.about-section1 h4{
    font-size: 20px;
    font-family: poppins,sans-serif;
    font-weight: 600;
}
.about-img-des {
    margin-top: 80px;
}
.about-img-des a{
    color: #4cce5f;
}
.about-img-des a:hover{
   color: black;
}
.about-img-des img{
    vertical-align: middle;
}
.about-img-des span{
    padding-left: 5px;
    font-weight: 600;
    font-family: poppins,sans-serif;
    font-size: 15px;
}
/*about boseo end*/

/*service section start*/
.service{
    background-image: url(../images/bg-01\ \(1\).png);
    background-size: cover;
    /* height: 1200px; */
}
.service-heading{
    text-align: center;
    padding-top: 120px;
}
.service-heading h5{
    font-size: 14px;
    font-family: poppins,sans-serif;
    font-weight: 400;
    color: #4cce5f;
    margin-bottom: 20px;
}
.service-heading h2{
    font-size: 44px;
    font-family: poppins,sans-serif;
    font-weight: 600;
    padding-bottom: 50px;
}
.service-heading h2 span{
    font-weight: 400;
}
/*service section end*/

/*provide services start*/
section.provide-services {
    /*margin-top: -900px;*/
}
.provide-flex {
    display: flex;
    flex-wrap: wrap;
}
.box{
    border: 1px solid #d2d2d2;
    width: 33%;
    padding: 40px;
}
.box h4{
    text-align: right;
    margin-top: 20px;
    margin-right: 40px;
    font-weight: 600;
    font-size: 16px;
}
.box img{
    padding-bottom: 25px;
}
.box h3{
    font-size: 16px;
    font-family: poppins,sans-serif;
    font-weight: 600;
    line-height: 25px;
    padding-bottom: 20px;
}
.box p{
    font-size: 16px;
    font-family: roboto,sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #999191;
}
/*provide services end*/

/*counter section start*/
section.counter {
    margin-top: 100px;
    padding-bottom: 100px;
}
.counter-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.counter-1 h2{
    font-size: 44px;
    font-family: poppins,sans-serif;
    font-weight: 600;
    color: #4cce5f;
    text-align: center;
    padding-bottom: 15px;
}
.counter-1 p{
    font-size: 18px;
    font-family: roboto,sans-serif;
    font-weight: 400;
    color: #999191;
}
/*counter section end*/

/*latest projects start*/
section.latest-projects {
    margin-top: 100px;
    margin-bottom: 150px;
}
.latest-flex {
    display: flex;
}
.latest-first-section h4{
    font-size: 16px;
    font-family: poppins,sans-serif;
    font-weight: 400;
    color: #4cce5f;
    padding-bottom: 20px;
}
.latest-first-section h2{
    font-size: 50px;
    font-family: poppins,sans-serif;
    font-weight: 600;
    line-height: 70px;
    padding-bottom: 100px;
}
.latest-first-section h2 span{
    font-weight: 400;
}
.latest-first-section img{
    padding-bottom: 150px;
    border-radius: 5px;
}
.latest-first-section a{
    font-size: 14px;
    font-weight: 600;
    font-family: roboto,sans-serif;
    text-decoration: underline;
    color: black;
}
.latest-first-section a:hover{
    color: #4CCE5F;
}
.latest-second-section img{
    display: block;
    border-radius: 5px;
}
/*latest projects end*/

/*testimonial section start*/
.testimonials{
    margin-bottom: 150px;
}
.testimonials-flex {
    display: flex;
}
.first-testimonials {
    width: 45%;
}
.first-testimonials h5{
    font-size: 16px;
    font-family: poppins,sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
    color: #4CCE5F;
}
.first-testimonials h3{
    font-size: 40px;
    font-family: poppins,sans-serif;
    font-weight: 600;
    padding-bottom: 60px;
    line-height: 50px;
}
.first-testimonials h3 span{
    font-weight: 400;
}
.bg-first{
    background-image: url(../images/t01.png);
    background-repeat: no-repeat;
}
.bg-first img{
    margin-top: 55px;
    margin-left: -20px;
}
.second-testimonials {
    width: 45%;
    margin-left: 75px;
}
.second-testimonials p{
    font-size: 24px;
    font-family: roboto,sans-serif;
    font-weight: 500;
    line-height: 42px;
    padding-bottom: 40px;
}
.client-info h4{
    font-size: 18px;
    font-family: poppins,sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
    color: #4CCE5F;
}
.client-info p{
    font-size: 16px;
    font-family: roboto,sans-serif;
    font-weight: 400;
    color: #999191;
    padding-bottom: 40px;
}
.client-info .fa-arrow-left-long{
    font-size: 30px;
    color: #999191;
}
.client-info .fa-arrow-right-long{
    font-size: 30px;
    color: #999191;
    margin-left: 40px;
}
/*testimonial section end*/

/*seo experties start*/
.seo-experties{
    background-image: url(../images/bg01.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    height: 900px;
}
.seo-content{
    text-align: center;
}
.seo-content h5{
    font-size: 15px;
    font-family: poppins,sans-serif;
    font-weight: 400;
    padding-top: 100px;
    padding-bottom: 25px;
    color: #4CCE5F;
}
.seo-content h3{
    font-size: 40px;
    font-family: roboto,sans-serif;
    font-weight: 600;
    padding-bottom: 50px;
}
.seo-content h3 span{
    font-weight: 400;
}
.seo-content p{
    font-size: 16px;
    font-family: roboto,sans-serif;
    font-weight: 400;
    line-height: 30px;
    color: #999191;
    padding-bottom: 70px;
}
.seo-content a{
    font-size: 16px;
    font-family: poppins,sans-serif;
    font-weight: 600;
    color: #4cce5f;
    text-decoration: underline;
}
.seo-content a:hover{
   text-decoration: none;
    color: crimson
}
/*seo experties end*/

/*our blog start*/
section.our-blog {
    margin-top: 100px;
}
.our-blog h5{
    font-size: 15px;
    font-family: poppins,sans-serif;
    font-weight: 400;
    padding-bottom: 25px;
    color: #4CCE5F;
}
.blog-content-flex{
    display: flex;
    justify-content: space-between;
}
.blog-content h2{
    font-size: 40px;
    font-family: roboto,sans-serif;
    font-weight: 600;
    padding-bottom: 50px;
}
.blog-content h2 span{
    font-weight: 400;
}
.blog-icon a{
    background-color: #868381;
    border: 1px solid #f2f2f2;
    padding: 15px;
    color: #fff;
    border-radius: 3px;
    margin-left: 30px;
    border: none;
}
.blog-icon a:hover{
    background-color: #4CCE5F;
}
/*our blog end*/

/*blog img start*/
.blog-img {
    margin-bottom: 100px;
}
.blog-img-flex {
    display: flex;
    justify-content: space-between;
}
/*image 1 start*/
.bg-img1{
    background-image: url(../images/p01.jpg);
    background-repeat: no-repeat;
    width: 30%;
    height: 300px;
    padding: 170px 40px 40px 40px;
    border-radius: 5px;
}
.img-content {
    padding-bottom: 15px;
}
.img-content span{
    font-size: 16px;
    color: #fff;
    font-family: poppins,sans-serif;
}
a.author {
    font-size: 16px;
    font-weight: 600;
    font-family: poppins,sans-serif;
    color: #fff;
    padding-left: 5px;
}
a.date {
    font-size: 16px;
    font-weight: 400;
    font-family: poppins,sans-serif;
    color: #dfd6d5;
    padding-left: 5px;
}
.img-title a{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    font-family: roboto,sans-serif;
    line-height: 28px;
}
.img-title a:hover{
    text-decoration: underline;
}
/*image 1 start*/

/*image 2 start*/
.bg-img2{
    background-image: url(../images/p02.jpg);
    background-repeat: no-repeat;
    width: 30%;
    height: 300px;
    padding: 170px 40px 40px 40px;
    border-radius: 5px;
}
/*image 2 end*/

/*image 3 start*/
.bg-img3{
    background-image: url(../images/p03.jpg);
    background-repeat: no-repeat;
    width: 30%;
    height: 300px;
    padding: 170px 40px 40px 40px;
    border-radius: 5px;
}
/*image 3 end*/
/*blog img end*/

/*big footer start*/
.big-footer{
    background-color: #f0f2f4;
     padding: 10px 0px;
}
.big-footer-container{
      width: 1100px;
    display: block;
    margin: 150px auto;
}
.big-footer-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*section 1 start*/
.Boseo {
    width: 23%;
}
.logo-boseo{
    margin-bottom: 38px;
}
.para p{
    color: #999191;
    font-size: 16px;
    font-family: poppins,sans-serif;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}
.fav-icon-flex{
    display: flex;
}
.fav-icon{
    padding: 0px 10px;
}
.fav-icon a{
    color:#999191 ;
}
.fav-icon a:hover{
    color: #4CCE5F;
}
/*section 1 end*/

/*section 2 start*/
.Quick-links{
    width: 10%;
}
.quick-links h4{
    color: #0e0e0e;
    font-size: 18px;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    margin-bottom: 42px;
}
.List-icon ul li a{
    text-decoration: none;
    transition: .5s;
    font-size: 16px;
    color: #999191;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    line-height: 32px;
}
.List-icon ul li a:hover{
    color: #4CCE5F;
    text-decoration: underline;
}
/*section 2 end*/

/*section 3 start*/
.contact{
    width: 20%;
}
.contact-us h4{
    color: #0e0e0e;
    font-size: 18px;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    margin-bottom: 42px;
    text-transform: uppercase;
}
.list-icon ul li{
    text-decoration: none;
    transition: .5s;
    font-size: 16px;
    color: #999191;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    line-height: 42px;
}
/*section 3 end*/
/*section 4 start*/
.Newsletter {
    width: 19%;
}
.newsletter h4{
    color: #0e0e0e;
    font-size: 18px;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    margin-bottom: 42px;
    text-transform: uppercase;
}
.spamers p{
    color: #999191;
    font-size: 16px;
    font-family: poppins,sans-serif;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}
.form input[type=email]{
    font-size: 16px;
    color: #999191;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
}
.form input[type=email]:hover{
    outline: 1px solid #4CCE5F;
}
.subscribe button{
    padding: 20px 34px;
    border-radius: 4px;
    border: none;
    background-color: #4CCE5F;
    transition: .5s;
}
.subscribe button a{
    text-decoration: none;
    transition: .5s;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Poppins,sans-serif;
    font-weight: 600;
}
.subscribe button:hover{
    background-color: black;
}
/*section 4 end*/
/*big footer end*/

/*footer start*/
.last-footer{
    background-color: #f0f2f4;
}
.footer-container{
    width: 1100px;
    margin: 0px auto;
    /*margin-left: 100px;*/
}
.footer-flex {
    display: flex;
    justify-content: space-between;
}
.reserved{
    margin-top: 40px;
    margin-bottom: 40px;
}
.reserved p{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    color: #999191;   
}
.terms{
    margin-top: 40px;
}
.terms a{
    color: #999191;
    font-size: 16px;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    padding: 0px 5px;
    display: inline-block;
}
.terms a:hover{
    color: #4CCE5F;
}
/*footer end*/